@charset "UTF-8";
html {
  font-size: 13.3333vw !important;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-family: Helvetica !important;
  box-sizing: border-box;
  border: 0;
}

